## Extract Year, Month, Day, Weekday, Hour, Minute from timestamps

- [featuretools doc](https://featuretools.alteryx.com/en/latest/)

In [1]:
import pandas as pd
import featuretools as ft
from featuretools.primitives import Minute, Hour, Day, Month, Year, Weekday

pd.set_option('display.max_columns', 15)
pd.set_option('display.max_rows', 50)
pd.options.display.float_format = '{:,.4f}'.format

In [24]:
df = pd.DataFrame(
    {'timestamp': ['2022-09-01 01:23:51', '2022-09-01 03:28:59', '2022-09-02 19:12:18', '2022-09-03 23:03:06'],
     'price': [23.12, 24.23, 24.91, 23.54]
    }
)
df['index'] = df.index
df['timestamp'] = pd.to_datetime(df.timestamp, format='%Y-%m-%d %H:%M:%S')

In [25]:
df

            timestamp   price  index
0 2022-09-01 01:23:51 23.1200      0
1 2022-09-01 03:28:59 24.2300      1
2 2022-09-02 19:12:18 24.9100      2
3 2022-09-03 23:03:06 23.5400      3

In [26]:
es = ft.EntitySet('Fake Data EntitySet')
es.add_dataframe(
    dataframe_name='fake data',
    index='index',
    dataframe=df,
    time_index='timestamp')

Entityset: Fake Data EntitySet
  DataFrames:
    fake data [Rows: 4, Columns: 3]
  Relationships:
    No relationships

In [33]:
fm, features = ft.dfs(
    entityset=es,
    target_dataframe_name='fake data',
    trans_primitives=[Year, Month, Day, Weekday, Hour, Minute],
    max_depth = 1 # set as 1 when there's only one data frame
)

In [32]:
fm

,price,DAY(timestamp),HOUR(timestamp),MINUTE(timestamp),MONTH(timestamp),WEEKDAY(timestamp),YEAR(timestamp)
index,,,,,,,
0,23.1200,1,1,23,9,3,2022
1,24.2300,1,3,28,9,3,2022
2,24.9100,2,19,12,9,4,2022
3,23.5400,3,23,3,9,5,2022